$sm: "375px";
$md: "768px";
$lg: "1024px";
$xl: "1280px";

@mixin media-min($size) {
  @media (min-width: $size) {
    @content;
  }
}
@mixin media-max($size) {
  @media (max-width: $size) {
    @content;
  }
}

// Using a variable
// @include media-max($sm) {
//   body {
//     color: red;
//   }
// }

// Custom value
// @include media-min(300px) {
//   body {
//     color: red;
//   }
// }
